<div class="container-fluid container-custom w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="card text-center w-25 border-black">
        <div class="card-header border-black">
            <span class="font-kanit fw-semibol fs-2">Información</span>
        </div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: xxx-large;">{{cantidad}}</h5>
            <p class="card-text text-muted px-5" style="font-size: small;">Cantidad de solicitudes registradas en el sistema</p>
        </div>
        <div class="card-footer border-black p-0 overflow-hidden">
            <a routerLink="/" class="btn btn-sm text-white w-100 rounded-0"
            style="background-color: #1B2050;">Button</a>
        </div>
    </div>
</div>